name: 'Deploy: PostgreSQL Schema'

on:
  workflow_dispatch:

env:
  PG_SERVER_NAME: 'pg-bbva-dashboard' # Reemplaza si es diferente
  PG_ADMIN_USER: 'adminuser' # Reemplaza si es diferente
  DB_NAME_PRACTITIONER: 'data_oro_practitioner'
  DB_NAME_CI: 'data_oro_ci'
  RESOURCE_GROUP: ${{ secrets.RESOURCE_GROUP_NAME }}
  SQL_PRACTITIONER_PATH: './5-database/queries/query_practitioner.sql'
  SQL_CI_PATH: './5-database/queries/query_ci.sql'

jobs:
  deploy-schema:
    runs-on: ubuntu-latest
    name: Deploy PostgreSQL Schema

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Get PostgreSQL FQDN
        id: get_pg_fqdn
        run: |
          PG_FQDN=$(az postgres flexible-server show --resource-group ${{ env.RESOURCE_GROUP }} --name ${{ env.PG_SERVER_NAME }} --query fullyQualifiedDomainName -o tsv)
          echo "PG_FQDN=$PG_FQDN" >> $GITHUB_OUTPUT

      - name: Install PostgreSQL client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Run Practitioner SQL script
        env:
          PGPASSWORD: ${{ secrets.PG_ADMIN_PASSWORD }}
        run: |
          psql "host=${{ steps.get_pg_fqdn.outputs.PG_FQDN }} port=5432 dbname=${{ env.DB_NAME_PRACTITIONER }} user=${{ env.PG_ADMIN_USER }} sslmode=require" \
            -f "${{ env.SQL_PRACTITIONER_PATH }}"

      - name: Run Continuous Integration SQL script
        env:
          PGPASSWORD: ${{ secrets.PG_ADMIN_PASSWORD }}
        run: |
          psql "host=${{ steps.get_pg_fqdn.outputs.PG_FQDN }} port=5432 dbname=${{ env.DB_NAME_CI }} user=${{ env.PG_ADMIN_USER }} sslmode=require" \
            -f "${{ env.SQL_CI_PATH }}"

      - name: Azure Logout
        run: az logout
        if: always()