name: Destroy Infrastructure (Terraform)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to destroy"
        required: true
        type: choice
        options:
          - dev
          - qa
          - prod

      confirm_destroy:
        description: "Type DESTROY to confirm"
        required: true
        default: "NO"
        type: string

jobs:
  terraform-destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    if: ${{ github.event.inputs.confirm_destroy == 'DESTROY' }}

    defaults:
      run:
        working-directory: 1-infrastructure

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

      TF_VAR_environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: |
          terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
